@use "global" as *;
.card__img--inner.card__img1 {
  // size
  display: block;
  width: 100%;
  height: 100%;
  // decoration
  background-image: url(/images/Rectangle1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: 0.1s;
  // ajustment -> `.card__img`
  position: absolute;
  top: 0;
  left: 0;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.card__img--inner.card__img2 {
  // size
  display: block;
  width: 100%;
  height: 100%;
  // decoration
  background-image: url(/images/Rectangle2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: 0.1s;
  // ajustment -> `.card__img`
  position: absolute;
  top: 0;
  left: 0;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.card__img--inner.card__img3 {
  // size
  display: block;
  width: 100%;
  height: 100%;
  // decoration
  background-image: url(/images/Rectangle3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: 0.1s;
  // ajustment -> `.card__img`
  position: absolute;
  top: 0;
  left: 0;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
